/* 编辑错题本界面下的label框 */
#WTBLabelList
{
    height: 130px;
    overflow-y: auto;
    background-color: #f5f5f5;
    border: 1px solid #00a061;
    padding: 5px;
    border-radius: 6px;
}

.label_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: white;
}
.label_item span {
    flex: 1;
    word-break: break-all;
}
.label_item button {
    margin-left: 5px;
    padding: 2px 6px;
    font-size: 12px;
}
.label-color {
    width: 30px;
    height: 24px;
    border: none;
    cursor: pointer;
}

/* 添加错题时的label选择签 */
.tag-checkbox-item {
  display: inline-flex;
  align-items: center;
  border: 2px solid #474747;
  background-color: #ffffff;
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}
.tag-checkbox-fake {
  width: 16px;
  height: 16px;
  border: 3px solid;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}