<!-- WrongTopicPaper_PDF.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <style>
      body {
        font-family: "SimSun", serif;
        font-size: 12pt;
      }
    </style>
</head>
<body>

    <h1>{{ title }}</h1>
    {% for topic in topics %}
    <div class="topic">
        <h3>{{ loop.index }}.
          <a href="{{ base_url }}/wrong_topic_detail_page?wtb_id={{ wtb_id }}&topic_id={{ topic.id }}" target="_blank">{{ topic.title }}</a>
        </h3>

        {% if topic.question_img_url %}
        <div>
            <img src="{{ topic.question_img_url }}" alt="题干图" style="max-width: 100%; max-height: 300px;">
        </div>
        {% else %}
        <p><strong>无题干图片</strong></p>
        {% endif %}

        <hr/>
    </div>
    {% endfor %}
</body>
</html>
